<div class="bootstrap-wrapper">
	<div class="container">
		<div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                   <img src="../../../assets/error.png" class="register-logo">
                </div>
                <h1 class="text-center">Register</h1>
                <div class="container">
                    <form action="">
                        <!-- username -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Enter here">
                        </mat-form-field>
                        
                        <!-- email -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput placeholder="Enter here">
                        </mat-form-field>

                        <!-- firstname -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>First name</mat-label>
                            <input matInput placeholder="Enter here">
                        </mat-form-field>

                        <!-- lastname -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Last name</mat-label>
                            <input matInput placeholder="Enter here">
                        </mat-form-field>

                        <!-- phoneno -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Phone no.</mat-label>
                            <input matInput placeholder="Enter here">
                        </mat-form-field>

                        <!-- password -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput placeholder="Enter here">
                        </mat-form-field>

                        <div class="container text-center">
                            <button mat-raised-button color="primary">Register</button>
                            <button style="margin: 20px;" mat-raised-button color="accent">Clear</button>
                        </div>
                    </form>
                </div>
                
               
            </div>
        </div>
	</div>
</div>